[2017-05-15 12:56] NikolaosWakem opened #2 "Please add screenshot of azure scope configs"
make sure you don't use custom domains.. only xxx.onmicrosoft.com

[2017-05-15 15:31] EvanWeeks commented on #2
Far as I understand it, that's why step 4 is "PENDING"... the UI on Azure isn't set up yet. If @gsacavdm wants to weigh in with more info, that'd be great, since I was trying to get this demo working for a WPF app last night. The presentation at //build/ was exciting, so I'd love to be able to use this stuff. :)

[2017-05-15 17:07] gsacavdm commented on #2
The UI is available, we just need to add those steps. Adding @parakhj for visibility.
In short, you need to [register scopes for your web API](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-app-registration#register-a-web-api) and then [grant permissions to your Web API to those scopes](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b

[2017-05-15 17:43] NikolaosWakem commented on #2
I've got a sneaky suspicion that my B2C isn't the same version / config as fabrikamb2c... Or I'm just too dumb to get this working which is just as likely ;-)

[2017-05-15 17:47] parakhj commented on #2
Nik, the B2C version should be identical for you. We have a few screenshots of the steps that need to be taken to set up access tokens in [the blog post](https://azure.microsoft.com/en-us/blog/azure-ad-b2c-access-tokens-now-in-public-preview/). Could you describe what you have done so far to get your tenant configured?

[2017-05-15 17:52] NikolaosWakem commented on #2
thanks @parakhj  - i have put some screenshots of my config onto https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/issues/4  - i'm sure it's something silly i've configured wrong...

[2017-05-20 00:20] #2 closed

[2017-05-20 00:20] NikolaosWakem commented on #2
make sure you don't use custom domains.. only xxx.onmicrosoft.com

[2017-07-20 21:05] Omsaaf opened #3 "Following the authentication, AccessToken is null"
I have tried the sample code with our two types of users:

1. A user saved in Azure B2c
2. A user with a social account from Google

In both cases, I have an AuthenticationResult that looks like this
**AccessToken = null**
ExpiresOn = 0
IdToken = eyJ0eXAiOiJKV1QiLCJhbGciOi......
Scopes={<Valid List of scopes>}
**TenantId=null**
UniqueId=Valid User Id in AzureB2c
User=<User information properly fil

[2017-07-24 20:52] parakhj commented on #3
Did you give the native app consent to the web api? If you are not sure what that means, check out this [post](https://azure.microsoft.com/en-us/blog/azure-ad-b2c-access-tokens-now-in-public-preview/). For more details, you can check out [this article](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens).

[2017-08-05 09:29] ddobric opened #4 "Samle does not work, because v2 endpoint is missing"
When we create b2c tenant as referenced in readme (https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started), the tenant is created without V2 endpoint.
https://login.microsoftonline.com/common/oauth2/v2.0/authorize

it provides only v2 endpoint: https://login.microsoftonline.com/common/oauth2/authorize

However sample described here uses 'Microsoft.Identity.Cli

[2017-08-06 13:34] ddobric commented on #4
404 error can also happen if the policy is missing and V2 edpoint is correct.

[2017-08-06 13:35] ddobric commented on #4
missing policy

[2017-08-06 13:35] #4 closed

[2017-08-06 13:39] ddobric opened #5 "Missing Access Token"
When executing AcquireTokenAsync in sample _**active-directory-b2c-dotnet-desktop**_  the AccessToken is missing and IdToken is set.
Not sure if this is correct behavior.
Assuming that IdToken contains JWT, then the sample should use IdToken instead of AccessToken in following line:

`
 ResultText.Text = await GetHttpContentWithToken(App.ApiEndpoint, authResult.AccessToken);
`

Last but not least,

[2017-08-07 23:31] parakhj commented on #5
The weird characters indicate that copying and pasting might have messed up the characters in the idtoken.

You should be obtaining an access token if you're calling an API. If you didn't get an access token, try following [this document](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens).

[2017-10-10 04:01] wenboyang214 opened #8 "Returned user identifier does not match the sent user identifier"
Hi parakhj,
I am being in trouble  for testing the sample code from you . Eager to get your help

I download your sample code , and just replace the below:
`        private static string Tenant = "xxxxx.onmicrosoft.com";
        private static string ClientId = "xxxxxx-37e9-4e7d-8a05-xxxx";
        public static string PolicySignUpSignIn = "B2C_1_SiUpIn";
        public static string PolicyEditPro

[2017-10-11 00:08] parakhj commented on #8
Unfortunately I'm not familiar with that error - but I found this online: https://stackoverflow.com/questions/44944368/azure-msal-login-issue

See if the answer there helps? Otherwise feel free to make a stack overflow post with the tags 'azure-ad-b2c' and 'msal' and someone from the MSAL team may be able to pitch in

[2017-10-11 11:09] wenboyang214 commented on #8
@parakhj  ok, thanks for the reply. I have read the the link you give and will have a try

[2017-11-17 19:09] saraford opened #10 "API Call Results textbox needs to cleared after successful login"
steps to reproduce:

1. Click on sign-in button
2. Close the window
3. Note how the "API Call Results" textbox shows how the user cancelled authentication
4. Click sign-in and successfully sign-in

Results:
The API Call Results textbox still shows the exception from the user cancelled authentication

Expected:
Textbox to be cleared

[2017-11-17 19:11] saraford opened #11 "Editing display name and then clicking Call API still shows old name"
Steps to reproduce:
1. Call API and see the current display name returned
2. Edit profile and change display name
3. Call API

Results:
previous display name is returned

[2019-03-25 05:58] AiHaibara commented on #3
I have the similiar problem.
authResult.Account.Username = null
authResult.AccessToken = null
I have the webapi, and call the webapi by aspnet aspnetcore, nodejs all successed, but the desktop wpf failed.
I published scope for webapi read write and add api access in b2c native application in azure portal.
Can you give me some advice?

[2019-04-04 23:21] ChainReactive opened #20 "Commonality between sign-in and API call scenarios"
I'm getting started with authenticating my app with MSAL.  Now I'm copying and pasting from this sample.  There's redundancy, however, that I don't want to carry over to my app.

I think that acquiring a token interactively is the same whether it's upon sign-in or in response to an `MsalUiRequiredException` exception thrown during an API call.  In my app, I'd like this to be a common `GetTokenInte

[2019-04-04 23:28] aarondglover opened #21 "Error Acquiring Token: Microsoft.Identity.Client.MsalServiceException: AADB2C90079: Clients must send a client_secret when redeeming a confidential grant."
When Attempting to Sign-In I receive the following Error.

[code]

Please Help. Has some sort of token expired which I need to refresh?

[2019-04-05 02:19] jmprieur commented on #21
if this was AAD, the app registration would require you to set the **Default Client Type** to **Yes**, but here this is B2C. @valnav : is there the same equivalent for the B2C app registration?

![image](https://user-images.githubusercontent.com/13203188/55599854-e0660900-5759-11e9-8891-0e35de8d8d25.png)

[2019-04-17 10:43] bgavrilMS commented on #20
About the default prompt - we may change the default, although I would argue this is a breaking change. For example, if you use .WithLoginHint("foo@foo.com") and not provide a prompt, "select_account" might not be the best user experience.

But as far as it the sample goes, for this version of MSAL, the .WithPrompt config is superfluous.

[2019-05-04 18:53] kszicsillag opened #25 "Authority should use b2clogin domain"
The MSALv3 branch works with simple username-password login, but it gives a redirect URI error when I want to use Microsoft Account login:

I have tracked down the issue to the BaseAuthority property in App.xaml.cs. It should use the new b2clogin.com domain according to the [docs](https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin#update-your-application) as the B2C Microsoft Acc

[2019-05-17 19:59] jennyf19 commented on #25
Thanks @kszicsillag will look into updating the values and +1 on using b2clogin domain. thanks.

[2019-05-17 20:00] jennyf19 commented on #21
@aarondglover Are you still having this issue?

[2019-06-25 00:55] scharwood opened #28 "Update to MSAL 4"
Please update the whole sample to use the new version of MSAL (4).

There are breaking changes from MSAL 3 to 4.

[2019-06-25 16:38] TiagoBrenck commented on #28
@scharwood the sample is already using MSAL 4: `<package id="Microsoft.Identity.Client" version="4.0.0" targetFramework="net452" />`. The branch name could be misleading you, but the sample was updated few days ago.

[2019-06-25 18:17] scharwood commented on #28
My bad.
I had downloaded just prior to the update.  I viewed the code briefly and didn't notice the changes before I wrote the request.
Thank you.

[2019-06-25 18:17] #28 closed

[2019-07-12 08:56] roycornelissen commented on #21
@jennyf19  I'm now facing this issue (from a .NET Core Console app) against B2C. Any new insight on how to deal with this?

[2019-07-12 14:56] jennyf19 commented on #21
@roycornelissen did you see what @jmprieur posted above about checking "Default client type to public client" in the portal?

[2019-07-12 16:14] roycornelissen commented on #21
@jennyf19 I would if I could find the setting... The app registration was made in B2C, no "Default client type to public client" setting there, and when I look it up from the AAD pane, the setting is also not there. Unless it's a Premium feature? (not using Azure AD Premium)

[2019-07-12 16:32] jennyf19 commented on #21
@roycornelissen I don't believe this is a premium feature. If you are in AAD, you should be able to see it when you click on "Authentication" in your app registration (@jmprieur has included a screen shot above). You will want to be in the new registration experience, not the legacy one.

For B2C, you are right, I do not see an option for this, and also not in the manifest. For AAD, you should see

[2019-07-12 16:38] jennyf19 commented on #21
@roycornelissen Actually, in the B2C app manifest, there is a field for `"publicClient":true`

Do you want to edit the manifest and see if that resolves the issues (at least temporarily)?
![image](https://user-images.githubusercontent.com/19942418/61144118-db1b0780-a488-11e9-9b19-0dfdbebfdb5b.png)

[2019-07-15 07:56] jmprieur commented on #21
@valnav @parakhj can we please have your guidance for this issue. How to register the B2C app?

[2019-07-15 08:42] roycornelissen commented on #21
@jennyf19 Thanks for hints... OK, I did find the "Default client type to public client" setting after all... There seem to be **four** different ways (for me at least) to go to application registrations in the portal...

1. Through _Active Directory > Enterprise Applications_
2. _Azure Active Directory > App registrations (Legacy)_,
3. through the _Azure AD B2C > Applications_,
4. and finally - wh

[2019-07-15 16:03] jennyf19 commented on #21
@roycornelissen I will share the feedback with the B2C portal team.

Can you share the code you are using for creating the public client and for the acquire token call?

[2019-07-16 08:40] roycornelissen commented on #21
@jennyf19 Sure... the actual application is a little bit more elaborate, but this is it in essence: https://gist.github.com/roycornelissen/7eafb17b27485933c1d15d942d7e26b6

With this code, I can reproduce the problem. On Windows, the authentication in the browser (Edge) completes, but with the `AADB2C90079` error. I also tried running it on my Mac, but in Safari, the login page doesn't even seem t

[2019-07-16 08:43] jmprieur commented on #21
@valnav @parakhj FYI

[2019-07-29 19:01] jennyf19 commented on #3
@Omsaaf closing. please try w/current sample. issue is not reproducing. thanks.

[2019-07-29 19:01] #3 closed

[2019-07-29 19:01] jennyf19 commented on #8
@wenboyang214 closing, but if this is still relevant, please reopen. thanks.

[2019-07-29 19:01] #8 closed

[2019-07-29 19:05] jennyf19 commented on #5
@ddobric closing, but please reopen if you need assistance w/this. thanks.

[2019-07-29 19:05] #5 closed

[2019-07-29 19:06] jennyf19 commented on #10
@saraford I believe this has been fixed. I'm not able to reproduce this using the steps above for this sample.

[2019-07-29 19:06] #10 closed

[2019-09-08 18:17] jennyf19 commented on #25
@kszicsillag I've identified the issue w/this sample for using b2clogin.com ...More [details here](https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp/issues/36).

[2019-09-13 07:50] xammob opened #40 "Sample stuck in an infinite loop showing a blank window with 'redirecting'"
We noticed this happening yesterday with our main product that uses b2c. I thought I'd try with your sample app and I get the same behaviour on a number of different machines. When I try to login, I just get a blank popup with redirecting inside it. A few things to note

(a) It's impacting our customers not just internal users
(b) It doesn't seem to happen on a clean machine (I created one in an A

[2019-09-13 11:00] xammob commented on #40
Similar issue to this one https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1385. Note the solution at the end regarding the registry key deletion which at least offers a solution without passing a new client to the end users

[2019-09-13 20:31] jennyf19 commented on #40
@xammob Fix is out. Please confirm it is working for you.

[2019-09-14 06:37] foxyjess1 commented on #40
@jennyf19 ..... @xammob works with me - same company. So I can confirm on his behalf the fix is good for us. Thanks so much for getting this resolved quickly.

[2019-09-14 15:11] jennyf19 commented on #40
@foxyjess1 thanks for the confirmation. Appreciate your patience as we sorted this out.

[2019-09-14 15:11] #40 closed

[2019-12-03 16:20] assafsl commented on #21
Has this been resolved? Having the same issue here

[2019-12-03 18:10] mmacy commented on #21
Hi @assafsl, curious if you've followed the steps these two articles--you should not encounter this issue, if so:

* [Tutorial: Authenticate users in a native desktop client using Azure AD B2C](https://docs.microsoft.com/azure/active-directory-b2c/active-directory-b2c-tutorials-desktop-app?tabs=app-reg-preview)
* [Tutorial: Grant access to a Node.js web API from a desktop app using Azure AD B2C](h

[2019-12-03 18:19] mmacy commented on #21
@assafsl Also, if you need to enable public client in a registered B2C application:

1. Navigate to your B2C tenant
1. Select **App registrations (preview)**
1. Select your application
1. Select **Authentication**
1. Select **Try out the new experience**
1. Under **Advanced** > **Default client type** > **Treat  application as a public client** select **Yes**.

![image](https://user-images.githubu

[2019-12-03 18:41] assafsl commented on #21
Thank you @mmacy I solved the problem by choosing "Public client/ native (mobile & desktop) as the type of the redirect URI of my app.

I missed correlation between _Web/ Public_ and _PublicClientApplication/ ConfidentialClientApplication_
![image](https://user-images.githubusercontent.com/17673532/70079373-4bc7e980-160d-11ea-9f89-905b67901400.png)

[2019-12-05 22:23] #21 closed

[2020-01-26 23:47] sorenhoyer commented on #21
They really should make it more clear that browser/client-only frontend apps that wants to use the Authorization Code flow with PKCE will need this "Treat application as a public client" enabled :-)

[2020-02-04 21:32] kakins opened #49 "Non-HTTPS url redirect is not supported in webview"
Following the instructions here:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-desktop-app?tabs=app-reg-preview#configure-the-sample

I've assigned my Redirect URI as the tutorial suggests:
![image](https://user-images.githubusercontent.com/14915247/73788846-616ba380-4763-11ea-9792-883c6ebf7964.png)

However, the WPF app returns this:
![image](https://user-images.githubuserc

[2020-02-05 00:22] jmprieur commented on #49
This is an enhancement coming to Azure AD B2C.
Not an issue with the sample.

[2020-02-05 00:23] kakins commented on #49
I see.  So is the Azure AD B2C documentation just simply inaccurate?  It appears that you can set up this functionality using the github example, but it doesn't appear to work right now.

[2020-02-05 19:23] mo3bius commented on #49
I followed all the guide for use my own azure ad b2c tenant. I used the node example and I created the api application on Azure. I also created the native application for windows application on Azure but when I tried to made the login appear an error message:
<img width="1680" alt="Schermata 2020-02-05 alle 20 19 16" src="https://user-images.githubusercontent.com/11818717/73875208-2ba6e780-4855-11

[2020-03-06 06:27] vedeevi opened #52 "Is there any plans to upgrade MSAL library to 4.7 version."
Currently this sample is referencing MSAL 2.7 version, is there any plan for you to upgrade the MSAL library version to latest 4.7 version?

Thanks,
Vedeevi

[2020-04-02 14:41] tiago-alves commented on #49
I am facing the same issue.

Were you able to fix this?

[2020-05-01 01:48] jennyf19 commented on #52
Hi @vedeevi not sure what you mean. The project is updated to the latest MSAL.
This is the PR for the next release (not out yet):
![image](https://user-images.githubusercontent.com/19942418/80774856-f2f47280-8b12-11ea-95f1-3f384a6b7bee.png)
You can see it's been consistently updated;
![image](https://user-images.githubusercontent.com/19942418/80774909-0f90aa80-8b13-11ea-8780-6988a910fa32.png)
Wher

[2020-05-01 01:55] jennyf19 commented on #49
@ktsakas do you know the status of this w/B2C? thx.

[2020-05-01 01:55] jennyf19 commented on #20
closing as answered

[2020-05-01 01:55] #20 closed

[2020-05-01 01:57] jennyf19 commented on #11
B2C takes some time to sync across policies. The api uses the su_si policy, but the edit profile policy was used. each policy is a separate authorization server, so the issue their own tokens. If you wait a bit, the policies will sync on the server side. or, use the token for the last policy used by the user, it will have the most updated claims.

[2020-05-01 01:57] #11 closed

[2020-05-01 01:58] jennyf19 commented on #52
closing as it is updated, but would like to know where @vedeevi saw it's on 2.7. ty.

[2020-05-01 01:58] #52 closed

[2020-05-01 16:45] mmacy commented on #52
@vedeevi @jennyf19 In the past, there were a few articles on docs.microsoft.com that had direct *.zip download links to the **master** branch of the sample. When the default branch of the sample was subsequently updated to be the **msalv3** branch, the docs were missed in the update, and thus no longer linked to the latest version of the sample (the master branch remained on 2.7 while the msalv3 b

[2020-05-26 18:02] rrperkin commented on #49
Having the same problem. How do I modify _this_ sample so that it works?

[2020-05-27 15:25] mmacy commented on #49
@ktsakas @jennyf19 Something must have changed on the service or library side as the doc referenced above previously worked with this sample. My gut feeling is something on the app registration end might have changed.

@kakins When you registered your native client application in the Azure portal, did you use **Applications** or **App registrations (Preview)**?

![image](https://user-images.github

[2020-05-27 16:14] rrperkin commented on #49
@mmacy I'm struggling with the same problems. I used the App Registrations (Preview) and had to use this to get the interactive flow working in this sample:

[code]

[2020-05-27 16:26] jennyf19 commented on #49
@rrperkin Thanks for the additional info. I'll take a look

[2020-05-27 16:29] rrperkin opened #56 "AccessToken is null in authResult"
At this point in time, after changing the demo to use my own B2C coordinates, I'm getting logins with the interactive flow, but the bearer token is null.

APIScopes looks like this (tenant urls are incorrect here (I'm hiding my tenant name) but they work in the demo, all the way through the interactive authentications):

[code]

What I'm really trying to do is use graph.microsoft.com/v1.0/Me, whic

[2020-05-27 18:43] jennyf19 commented on #49
@rrperkin i made the fixes in the main branch. will need need to update the documentation now and Readme. Will do shortly. You will need to use `.WithRedirectUr()` now, due to changes in the portal.

[2020-05-27 18:43] #49 closed

[2020-05-27 18:44] jennyf19 commented on #56
@rrperkin haven't tried this out. will try to take a look shortly.

[2020-08-14 10:07] mentorfloat opened #60 "Adjustments required for WPF on .Net Core 3.1"
The sample doesn't work for WPF apps targeting .Net Core 3.1, but with some tweaking I managed to authenticate with B2C to call my APIs.

`.WithParentActivityOrWindow()` doesn't exist and simply removing it will cause `AcquireTokenInteractive()` to do nothing when the button is clicked. So I changed redirectUri to `http://localhost`.

[code]

Doing the above will allow the WPF app to open the defa

[2020-08-26 23:53] jennyf19 commented on #60
@mentorfloat MSAL allows you to bring your own [browser](https://github.com/azuread/microsoft-authentication-library-for-dotnet/wiki/CustomWebUi#use-your-own-browser) and here's some more [info](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/System-Browser-on-.Net-Core#embedded-vs-system-web-ui). Does this help?

[2020-08-27 06:49] mentorfloat commented on #60
Thanks. Sounded like System Browser is indeed the recommended method so I won't change it then.

Strangely the [docs say B2C does not support 'any port'](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/System-Browser-on-.Net-Core#how-to-use-the-system-browser-ie-the-default-browser-of-the-os) option, but it works for me?

[code]

I used the above without specifying any

[2020-08-27 11:12] jennyf19 commented on #60
@mentorfloat looks like B2C has not updated their docs. Will touch base with them on this. Yes localhost works with B2C now.

[2020-08-28 08:11] #60 closed, assigned to nobody

[2020-11-21 02:22] jennyf19 commented on #56
@jmprieur any thoughts on this one?

[2020-11-21 04:26] rrperkin commented on #56
It's been about six months @jennyf19, so it might help to look over the open discussion here: [https://github.com/MicrosoftDocs/azure-docs/issues/56756](https://github.com/MicrosoftDocs/azure-docs/issues/56756)

...addressing the way the documentation misled me into believing that there should have been an access token for B2C user impersonation. Since the samples go with the documentation, I urge

[2020-11-23 19:38] jennyf19 commented on #56
@rrperkin apologies for the delayed response.

Thanks for including the other issue, looking it over, @JasSuri is the expert here, and seems he answered and took your feedback.

You cannot call the MS Graph /me endpoint with a user signed in with a B2C authority (b2clogin.com). You can use the MS Graph to do [administrative things](https://docs.microsoft.com/en-us/azure/active-directory-b2c/manage

[2020-11-24 00:23] rrperkin commented on #56
@jennyf19: "This is restricted because the users signed in with a B2C authority are behind social identities, external to Microsoft."

I accept that it's restricted. It blows my mind, though. I offer this "why" only as context, in case the architecture ever comes under discussion:

- "Email" signups are not behind social identities. The signup flow looks little different than a live.com account cr

[2020-11-24 01:09] jennyf19 commented on #56
We appreciate the feedback @rrperkin, and understand the frustration. We will definitely pass along the feedback.

[2020-12-04 01:40] jennyf19 commented on #56
closing, as we have documentation to improve, but not related to this repo necessarily.

[2020-12-04 01:40] #56 closed, assigned to nobody

[2021-01-15 18:24] chris-ray opened #66 "fresh clone fails build because of mix of packages.config and packagereference"
msalv3 branch, fresh clone this morning, open solution, build. Fails because of missing nuget packages. Determined it is because there is a packagereference in the csproj. (off-topic: there is a version mismatch between the one in packages.config and the package reference).  Delete the PackageReference in csproj, build, and now it fetches all the nuget packages to ..\packages. But it fails to buil

[2021-01-18 18:23] mixxit commented on #66
also experiencing this

[2021-01-19 15:19] jmprieur commented on #66
@chris-ray @mixxit : this week we'll release a new version of MSAL.NET (and update the sample accordingly) that will fix this.
cc: @bgavrilMS @trwalke @neha-bhargava @jennyf19

[2021-01-19 16:13] bgavrilMS commented on #66
Looking at this now.

[2021-01-19 16:52] #66 closed, assigned to nobody

[2021-01-19 16:53] bgavrilMS commented on #66
Fixed by reverting the changes and using MSAL 4.23
MSAL 4.24 cannot be used with packages.config, but we fixed this issue in MSAL 4.25, which we are releasing soon

[2021-01-19 16:57] bgavrilMS opened #68 "Embedded browser mostly fails with external identity providers"
Google - fails
Facebook

![image](https://user-images.githubusercontent.com/12273384/105067251-6c543c80-5a77-11eb-883b-c6d7815d975a.png)

We should default to the system browser.

GitHub

![image](https://user-images.githubusercontent.com/12273384/105067406-8f7eec00-5a77-11eb-9eea-4d59ec731b12.png)

[2021-01-19 17:03] bgavrilMS commented on #68
System browser is not configurable as `http://localhost` redirect uri is not used.

[2021-01-19 17:03] bgavrilMS commented on #68
CC @jennyf19 @jmprieur

[2021-01-19 17:55] jennyf19 commented on #68
@bgavrilMS will you do a PR?

[2021-01-19 19:21] chris-ray commented on #66
Thanks for the quick work! 👍

[2021-01-25 08:58] jmprieur commented on #68
@bgavrilMS : I cannot repro this one. The sample works for me. Which machine do you use? Do you have a specific browser?

[2021-01-27 11:17] cljung commented on #68
I get the same errors with Chrome as default browser. Google just fails. AppleID fails the same way. Facebook eventually signs you in, but complains alot like above. A normal user would give up.
Microsoft Windows [Version 10.0.19041.746]
Chrome Version 87.0.4280.141

[2021-02-14 05:50] VietBuiHa commented on #68
Hi @jmprieur,
I got the same issue with @cljung.
Google fails and shows an unsupported browser dialogue, Facebook asking a lot before I can be able to sign in.
Microsoft Windows [Version 10.0.19042.804]
Chrome Version [ 88.0.4324.150]
Edge Version [88.0.705.68]

[2021-02-26 21:33] brunofreitas-br commented on #68
I got the same issue, there is any update on how to fix it?

[2021-03-01 10:22] bgavrilMS commented on #68
Yes, during next release MSAL will be able to use WebView2, a modern embedded browser based on Microsoft Edge / Chromium. Sadly this requires for apps to install the runtime first, as it's not in the box (i.e. in Windows). Details here: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/WebView2

I can publish a preview package if you'd like to try sooner.

[2021-03-25 18:13] leskodan opened #71 "Error Acquiring Token - Access to token cache denied"
Hi there! This is a great sample that was straight forward to connect to my own B2C tenant and get working quickly.

As I start to experiment with it however, I am running into some issues. I would like to be able to package and distribute an application protected against B2C as a .msix. Having done so, I am running into an issue where an installed copy of the sample is not permitted access to the

[2021-03-25 18:25] jmprieur commented on #71
@leskodan you might want to borrow the following implementation of this token cache: https://github.com/Azure-Samples/active-directory-dotnet-desktop-msgraph-v2/blob/msal3x/active-directory-wpf-msgraph-v2/TokenCacheHelper.cs, which, I believe I've modified for this issue

@Shama-K : do you mind please updating the token cache helper of this sample with that cache (of the AAD sample)?

[2021-03-25 18:38] leskodan commented on #71
Appreciate it @jmprieur! I'll check it out and let you know if I have issues.

[2021-03-25 18:46] leskodan commented on #71
![image](https://user-images.githubusercontent.com/51446532/112526794-b956d680-8d78-11eb-8d29-15f16da6c698.png)

@jmprieur This block definitely clarifies for me what is going on here. That said, `Windows` is not defined here. What package does this depend on?

[2021-03-25 19:10] jmprieur commented on #71
@leskodan, I think Microsoft.Windows.SDK.Contracts.
See https://github.com/Azure-Samples/active-directory-dotnet-desktop-msgraph-v2/blob/da9b6673b0cefef430f5228ba985490441e0a8e6/active-directory-wpf-msgraph-v2/active-directory-wpf-msgraph-v2.csproj#L109-L111

[2021-03-25 19:24] leskodan commented on #71
@jmprieur appreciate the help. Unfortunately I'm still having issues though. Having installed the Microsoft.Windows.SDK.Contracts package, I am still getting errors telling me that `Windows` does not exist in the Microsoft namespace. This is true for .NET framework 4.7.2 which I am using right now and 4.6.1 which I briefly retargeted to to match the sample you provided. Any thoughts on why this is

[2021-03-25 20:31] jmprieur commented on #71
@leskodan : I would suggest you look at the csproj of the WPF one.
cc; @bgavrilMS @trwalke @pmaytak to help

[2021-03-26 14:27] leskodan commented on #71
@jmprieur @bgavrilMS @trwalke @pmaytak I am trying to modify this active-directory-b2c-dotnet-desktop sample to work once packaged and distributed. Therefore, the csproj file does not have any reference to the token cache issue.

[code]

Using the application data location for packaged msix apps is not working for me either as I cannot get any of the Windows apis to work in this sample, even with

[2021-03-26 14:57] leskodan commented on #71
Got it! I was missing the step of converting my default package management to package reference. Thanks for everyone's help!

[2021-03-26 14:57] #71 closed, assigned to nobody

[2021-03-29 23:08] jennyf19 commented on #68
@bgavrilMS this has been addressed correct? i was never able to repro the original issue.

[2021-03-30 11:39] bgavrilMS commented on #68
Well, WebView2 has been added to the mix, see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/WebView2
I have not tested this scenario, hope it works better.

[2021-03-30 11:39] #68 closed, assigned to nobody

[2021-04-07 10:11] nataliahering commented on #68
@bgavrilMS  @jennyf19  Hello, I also get the same problem. And I think I am running in to a blocker because of that

- if I use system browser, I need to define the redirect uri to be eg. http://localhost:8080, but not https. This has a security implication and also I need to implement a solution in which I try to open different ports in case one is reserved (which has still the risk that all port

[2021-04-07 15:58] jennyf19 commented on #68
@nataliahering you are okay to use http in this scenario, I thought MSAL would pick the open port for you, so you don't need to do that yourself. You're right that the embedded browser is not ideal, also not accepted with Google.

@bgavrilMS can you provide more guidance here?

[2021-04-07 19:47] nataliahering commented on #68
@jennyf19 thanks for the reply. I can use http, but I have two issues
1) in B2C you can't configure just http://localhost as a redirect uri (I think you can in AD), and then let it pick some free port for the interaction. You need to specify a port. So for a production scenario, I will need to have fallbacks with other ports, in case some are occupied by the user. So as a safety net, I will still

[2021-04-07 20:00] jennyf19 commented on #68
@nataliahering Even if the auth code is intercepted, it's useless because of [PKCE](https://oauth.net/2/pkce/), which is an additional security layer for public clients. Which is done in the browser, Then MSAL will go to the /token endpoint on the back channel to redeem for the access token.

I thought b2c supported just http://localhost as a redirect URI now. You might have to go to the "preview"

[2021-04-07 20:06] nataliahering commented on #68
o nice, it worked. Thanks a lot @jennyf19 , very helpful

[2021-04-07 20:07] jennyf19 commented on #68
@nataliahering awesome! Thanks for the quick reply. Is there something we could add to our docs or the portal UI itself to make this easier to figure out? (I admit I couldn't find it either last year when testing this feature from B2C).

[2021-04-07 20:16] nataliahering commented on #68
@jennyf19 I think here https://docs.microsoft.com/en-gb/azure/active-directory-b2c/add-native-application?tabs=app-reg-ga it is pretty clear, I just somehow got confused. Btw, in the readme of this repo here https://github.com/Azure-Samples/active-directory-b2c-dotnet-desktop#step-4-register-your-native-app the " register your native app in your B2C tenant" redirects to the web app instructions in

[2021-04-07 20:20] jennyf19 commented on #68
@nataliahering that's great feedback. Do you mind opening a [new issue](https://github.com/Azure-Samples/active-directory-b2c-dotnet-desktop/issues/new) here in this repo and just copy/paste what you put above? thank you.

[2021-04-07 20:33] nataliahering opened #73 "wrong link in Readme"
In the readme of this repo here https://github.com/Azure-Samples/active-directory-b2c-dotnet-desktop#step-4-register-your-native-app the " register your native app in your B2C tenant" redirects to the web app instructions instead, so I think it should be changed to redirect in the native app (https://docs.microsoft.com/en-gb/azure/active-directory-b2c/add-native-application?tabs=app-reg-ga)

[2021-04-07 20:35] nataliahering opened #74 "Additional information in the documentation"
It would be useful to add some documentation on how to configure the URI scheme in the .NET app, which will eventually used in the production scenario as the redirect uri instead of the localhost. For example, how we can configure this ```com.onmicrosoft.contosob2c.exampleapp://oauth/redirect```

[2021-04-07 20:35] nataliahering commented on #68
https://github.com/Azure-Samples/active-directory-b2c-dotnet-desktop/issues/73
https://github.com/Azure-Samples/active-directory-b2c-dotnet-desktop/issues/74 :)

[2021-04-19 06:51] jmprieur commented on #74
@nataliahering : for  NET desktop, we recommend you use `.WithDefaultRedirectUri()`

[2021-04-19 06:54] #73 closed, assigned to nobody

[2021-04-19 06:54] jmprieur commented on #73
Thanks for the heads-up. @nataliahering
This is fixed

[2021-04-20 08:11] nataliahering commented on #74
@jmprieur thanks for the answer. This is just using also the localhost. I removed the localhost from the app registration in the b2c portal and only kept the ```msal<...>://auth``` and ```https://<...>.b2clogin.com/oauth2/nativeclient``` and used the ```.WithDefaultRedirectUri()``` in the .net call. I got this error:

[code]

So localhost is the only way, even for production purposes?

[2021-04-20 08:14] jmprieur commented on #74
@nataliahering : Yes; if you you using the system browser, http://localhost is fine, even in production. In practice, MSAL.NET chooses a port, and there is a protocol (PKCE) that protects from a man in the middle attack (that is even if someone was able to get the auth code flow, they wouldn't be able to redeem it)

[2021-04-20 08:17] nataliahering commented on #74
Thanks @jmprieur for the prompt reply. I am aware of this protocol, so I was not concerned about the security. According to this documentation https://docs.microsoft.com/en-gb/azure/active-directory-b2c/tutorial-desktop-app?tabs=app-reg-ga using localhost is only for development and for production we should define a unique custom scheme. Is the doc outdated ?

[2021-04-20 08:19] jmprieur commented on #74
Oh I see. thanks for the heads-up, @nataliahering
Yes, I think it's outdated. When using the system browser there is no other choice. When using the embedded browser you can have something else, but a lot of social identities won't work in the embedded browser, so ... yes.
I'm going to edit the doc

[2021-04-20 08:22] jmprieur commented on #74
Actually, @nataliahering : do you mind raising an issue in that documentation: https://docs.microsoft.com/en-gb/azure/active-directory-b2c/tutorial-desktop-app?tabs=app-reg-ga ?
I'm not a owner, and it seems to me that the app registration paragraph does not apply at all for B2C here (only to AAD).

[2021-04-20 08:27] nataliahering commented on #74
ok nice, done https://github.com/MicrosoftDocs/azure-docs/issues/74049

I think you can close this issue, thanks for your assistance :)

[2021-04-20 08:28] jmprieur commented on #74
Thanks @nataliahering !

[2021-04-20 08:28] #74 closed, assigned to nobody

[2021-04-20 13:14] nataliahering opened #75 "Id token and access token do not get the updated user info when doing AcquireTokenSilentAsync"
I am doing the following steps

1. Execute this code
[code]
which is in the ```SignInButton_Click``` code of this sample.
an id token is returned, which includes several claims including for example the user's first name - which right now is "name1".

2. After the above call is done, I manually update the information of the user in the azure portal (eg. update the first name from "name1" to be "na

[2021-04-20 13:19] nataliahering commented on #75
In a similar manner, in the above step #2 I go in the portal and revoke the user's sessions. I would expect that step #3 would fail. Instead it fetches the user's tokens silently as if I never revoked the sessions

[2021-04-20 14:22] jmprieur commented on #75
@nataliahering : yes, this is a limitation of the B2C service. It takes some time.
@jennyf19 to keep me honest.

[2021-04-20 15:59] nataliahering commented on #75
@jmprieur For the revoke session case, how can I then as an admin ensure that a user gets blocked from starting the app while the refresh token that he got from the very first (interactive) sign in is still valid? I was planning to acquire token silently upon every startup (after the first interactive sign in).

[2021-04-20 16:04] nataliahering commented on #75
For the user claims, can we in the acquire token silently still call the custom API if we use custom policies? So that at least if in step 2 instead of updating some of the default claims in b2c, we update some of the custom logic behind our custom claims, we can ensure that in step 3 we get the updated information.
I will also try this one out of course, just raising the concern here in case you

[2021-04-21 12:03] jmprieur commented on #75
@nataliahering :

- the fact for a session to have been revoked is something that should be handled by the web API for which the token is requested.
- If you want to be sure to refresh a token when you start the client app, you could do an AcquireTokenSilent, with `ForceRefresh(true)` but mind you about the performance ...
- Usually, you'd want to do AcquireTokenSilent before AcquireTokenInteracti

[2021-04-25 19:41] nataliahering commented on #75
@jmprieur I want to be able to call a custom API, not only upon interactive sign in /sign up (which can be easily achieved by following the steps of the custom policies here https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-rest-api-claims-exchange), but also when I call ```AcquireTokenSilent```, even with ```ForceRefresh(true)```. This is necessary, because some updates in

[2021-04-26 11:38] ppapageo opened #77 "MsalClientException not thrown when login page is closed"
I am using the following code:
[code]
I want to handle the case where the user is prompted to the login page, but then closes it or navigates away. For this I have observed two conflicting behaviours being documented.

On the one hand it is stated on the following wiki that MSAL will throw a `MsalClientException` with the error code `authentication_canceled` , if when calling `AcquireTokenInteract

[2021-04-27 10:03] jmprieur commented on #77
@ppgpn : this is a valid scenario, but MSAL.NET is not notified.
@bgavrilMS to keep me honest

[2021-04-27 10:44] bgavrilMS commented on #77
Yes, if you use an embedded browser, then MSAL knows if the end-user closes it. If you use a system browser, this is just process to process communication, i.e. MSAL kick starts it via "open https://login.microsoft.com/stuff" and waits for the user to complete authentication. There is no way for MSAL to know if the user navigates away or closes the window.

We've added support for embedded browser

[2021-04-27 13:32] ppapageo commented on #77
Thank you for the responses,

I was assuming that B2C would send an error as a response, as it does with other behaviours happening on the system browser login, (e.g. the forgot password error code). I use the `CancellationToken` so that, at some point, I will get a timeout.

Unfortunately I cannot use the embedded browser because I need social logins which afaik need to be performed on the system

[2021-08-04 18:24] leskodan opened #82 "`AquireTokenSilent` getting bearer token for the wrong account"
If you have authenticated to a wpf app with multiple accounts (during different sessions), it is possible to make a token refresh request that returns a bearer token for the wrong account.

I assume that this is due to the `accounts.FirstOrDefault()` argument in the token refresh below.

[code]

Presumably, I need to be passing in an argument that specifies the account to refresh the token for. It

[2021-08-23 13:38] leskodan commented on #82
Checking in again for guidance?

[2021-09-07 02:00] jmprieur commented on #82
@leskodan : if you have multiple accounts, you need to provide an account selector to choose the right account
this is beyond the scope of this sample.

[2021-09-07 16:03] leskodan commented on #82
Got it, thank you!

[2021-09-07 16:03] #82 closed, assigned to nobody

[2021-10-15 15:37] leskodan opened #84 "Persist authentication"
This sample has helped me get a fairly good understanding of how to manage authenticated users and sessions on a local Windows 10 app. One thing that I would like to be able to do however, is persist the authenticated session.

**Current Behavior**
- Login to application
- Acquire id token and access token
- Refresh access token as necessary
- Close app -> authenticated session ends.

**Desired Be

[2021-11-17 15:30] vcarlucci opened #86 "Example not working anymore in net 5 WPF app"
Hello, we are trying to migrated our application which contains the most authentication concept from this example to .net 5 WPF (base app project built on .net framework "4.x").

In our actual app it works fine, when we migrate the app to .net 5, the registration returns always an exception (some informatons with url redirect etc...).

Also the method "WithParentActivityOrWindow" is not available

[2021-11-17 16:17] jmprieur commented on #86
@maliksahil do you want to have a look?

[2021-11-18 10:41] vcarlucci commented on #86
Reproduction steps:
1. I have cloned this project and opened it in VS2019 v16.11.5
2. Add inside the solution a empty net 5 wpf app project
3. Copy files from this demo to the net 5 proj:
    - App.xaml
    - MainWindow.xaml
    - TokenCacheHelper.cs
4. Add nuget:
    - Microsoft.Identity.Client (4.37.0, latest available)
    - Newtonsoft.Json (13.0.1, laatest available)
5. Build & Run net 5 appli

[2021-11-18 19:01] vcarlucci commented on #86
@jmprieur @maliksahil any news regarding this issue? Or can you give a short roadmap when we can expect an investigation? As we use this sample and we have to migrate our existing wpf apps to net 5, we are blocked actually because of this issue.
Thank you for your support.

[2021-11-19 02:13] jmprieur commented on #86
@vcarlucci : did you try to add http://localhost as a redirect URI for your application?
The exception says it's required

cc: @bgavrilMS

[2021-11-19 09:33] vcarlucci commented on #86
@jmprieur already done with http://localhost and with http://localhost(portNo). Both no improvement

Details:

I tried the localhost as follow in the existing method call, in App.xaml.cs

....
.WithRedirectUri("http://localhost")
...

[2021-11-19 12:18] bgavrilMS commented on #86
To use the system browser (default on .net core / net 5), you have to configure http://localhost redirect URI both in the app and in the application registration.

To use an embedded browser, see https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/WebView2

Note that you have to target `net5.0-windows10.0.17763.0` instead of `net5.0-windows` (edit your csproj file to change

[2021-11-19 12:47] vcarlucci commented on #86
I have changed the csproj configuration as you mentioned to `net5.0-windows10.0.17763.0` what already helped. This in both cases, when I migrate this sample project to net 5 and also our own application registration. Seems no more code change is necessary, also it worked without localhost definition.

Seems this fixed my issue.

Just for understanding, is this setting now limitating our applicatio

[2021-11-19 14:31] bgavrilMS commented on #86
MSAL uses 2 embedded browsers on net core / net 5:

- a new one based on WebView2
- a legacy one based on WebBrowser control

If the first is not available, it should fallback to the second.

Please make sure to do some testing with your new app. WebView2 is known to be a bit problematic, as it is fairly new tech.

[2021-11-19 14:36] bgavrilMS commented on #86
Let us know if you have any more questions or problems, happy to help.

[2021-11-19 14:36] #86 closed, assigned to maliksahil, bgavrilMS

[2021-11-19 14:36] vcarlucci commented on #86
Thank you for the insights, so we will make some extra testing here.

[2021-12-09 12:49] SteffenCleveland opened #89 "Error Acquring token for Azure AD B2C on native app (WPF) executable file"
Hi,

I have been using this sample but when I create an executable file and install it on another machine the errors begin. When I install in on my own PC everthing is fine...

Here is the error message:

Error Acquiring Token: System.InvalidOperationException: Sequence contains no elements at System.Linq.Enumerable.Max[TSource](IEnumerable1 source) at Microsoft.Identity.Client.TokenCache.Calculat

[2021-12-09 12:59] SteffenCleveland commented on #71
Try and run the application as an administrator. Then the access to the folder should no longer be denied.